{% extends "twitter/base.html" %}
{% block body_block %}
<div id="single-container">

    {% load staticfiles %}

    <h1>What is  Dwitter?</h1>


    <p>
    Dwitter ( Django + Twitter ) is demo app like Twitter.
    </p>

    <h3>sponsored link</h3>
    <script async
        src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- big_banner -->
    <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
                  data-ad-client="ca-pub-0004560833257704"
                       data-ad-slot="6936740504"></ins>
                   <script>
                       (adsbygoogle = window.adsbygoogle || []).push({});
                   </script>

    <h3>Screen Image</h3>
    <div class='wrapper-img'>
    <img src= "{% static 'img/screen.png' %}" class='img-screen' />
    </div>
    <h3>Why I made Dwitter?</h3>
    <p>
    Well, I'm beginning to learn Django Web Framework.
    So I decided to make something instead of just reading document.
    </p>
    <h3>Features</h3>
    <ul>
        <li>Follow/Unfollow</li>
        <li>Upload Profile Image</li>
        <li>Show timeline</li>
    </ul>
    <h3>Code</h3>
    <p>
    You can view this code at <a target="_blank" href="https://github.com/okamurayasuyuki/twitter">Github</a>.
    </p>
    <h3>Try Demo.</h3>
    <p>
    To Try it out,You need to <a href="/login">Login</a> or <a href="/register">Register</a>
    </p>

    <h3>Setup</h3>
    <pre>
    pyvenv-3.4 venv
    source venv/bin/activate
    cd django-trunk; python setup.py install
    pip install -r requirements.txt
    python twitter_project/manage.py runserver
    </pre>
    <h3>DB</h3>
    <pre>
    python manage.py makemigrations
    python manage.py migrate
    </pre>



    <h3>Deploy it (Gunicorn + Nginx)</h3>
    <ul>
        <li>Python3.4</li>
        <li>Django1.7</li>
        <li>Gunicorn</li>
        <li>Nginx</li>
    </ul>


 Setting of nginx file is like this.
 <pre>

 server {
     listen 80;
     server_name  your_server_name;

     location /static {
     root /path/to/twitter/twitter_project/twitter_project;
     }

     location / {
     proxy_pass http://127.0.0.1:8001;
     }

 }
</pre>

 And type it to run server.

 <pre>
 gunicorn twitter_project.wsgi:application -c gunicorn.conf.py
</pre>



    <h3>Questions?</h3>
    <p>
    If you have any questions? Please contact  <a
        href="https://twitter.com/furodrive">@furodrive</a>.
    </p>

    <h3>Sponsored link</h3>
    <script async
        src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- nikki01 -->
    <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
                  data-ad-client="ca-pub-0004560833257704"
                       data-ad-slot="7267197700"></ins>
                   <script>
                       (adsbygoogle = window.adsbygoogle || []).push({});
                   </script>

                   <script async
                       src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                   <!-- nikki01 -->




</div>
{% endblock %}
