{% extends "twitter/base.html" %}
{% block body_block %}
<div id="single-container">
    {% load staticfiles %}
    <h1>What is  Dwitter?</h1>
    <p>
    Dwitter ( Django + Twitter ) is demo app like Twitter.
    </p>

    <h3>Image</h3>
    <img src= "{% static 'img/screen.png' %}" class='img-screen' />
    <h3>Why I made Dwitter?</h3>
    <p>
    Well, I'm beginning to learn Django Web Framework.
    So I decided to make something instead of just reading document.
    </p>
    <h3>Features</h3>
    <ul>
        <li>Follow/Unfollow</li>
        <li>Upload Profile Image</li>
        <li>Show timeline</li>
    </ul>
    <h3>Code</h3>
    <p>
    You can view this code at <a target="_blank" href="https://github.com/okamurayasuyuki/twitter">Github</a>.
    </p>
    <h3>Try Demo.</h3>
    <p>
    To Try it out,You need to <a href="/login">Login</a> or <a href="/register">Register</a>
    </p>

    <h3>How to deploy yourself?</h3>
    <h4>Environment</h4>
    <ul>
        <li>Python3.4</li>
        <li>Django1.7</li>
        <li>Gunicorn</li>
        <li>Nginx</li>
    </ul>
    <h4>Deploy it</h4>


    <h3>Question?</h3>
    <p>
    If you have any questions? Please contact me my twitter account(@furodrive)
    </p>



</div>
{% endblock %}
