{% extends "twitter/base.html" %}
{% block body_block %}
<div id="single-container">
    <h1>What is  Dwitter?</h1>
    <p>
    Dwitter is web app clone of Twitter made by Django.
    </p>
    <h3>Why I made Dwitter?</h3>
    <p>
    Well, I'm beginning to learn Django Web Framework.
    So I decided to make something instead of just reading document.
    </p>
    <h3>Features</h3>
    <ul>
        <li>Follow/Unfollow</li>
        <li>Upload Profile Image</li>
        <li>Show timeline</li>
    </ul>
    <h3>Code</h3>
    <p>
    You can view this code at <a href="">Github</a>.
    </p>
    <h3>Dive in </h3>
    <p>
    <a href="/login">Login</a> or <a href="/register">Register</a>
    </p>
    <h3>Question?</h3>
    <p>
    If you have any questions? Please contact me my twitter account(@furodrive)>
    </p>



</div>
{% endblock %}
